* {
    margin: 0;
    padding: 0;
}

/* 头部导航栏 */
header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    background-color: #eee8e1a9;
    opacity: 0.8;
    padding: 10px 20px;
    z-index: 2;
}

.head-left {

    display: inline-block;
    cursor: pointer;
    font-size: 12px;
}

#head-logo {

    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    border: 1px solid black;
}

.head-tit {

    display: inline-block;
    text-align: center;
    line-height: 50px;
}


/* 主体滚动页面 */

/* 底部 */
.section6 {

    
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* margin: auto; */
    text-align: center;
}

#icp {

    font-size: 12px;
    color: rgb(73, 73, 73);
}

#icp > a{

    text-decoration: none;
    color: rgb(73, 73, 73);
}